{% extends "base.html" %}

{% block content %}

  <style>
    .title {
      margin-top: -100px;
    }
    .content {
      margin-top: -50px;
    }
  </style>


  <h1 class="title">
    Welcome {{ name }}, Your Store Activity Will Appear Here.
  </h1>

  {% for message in rabbit_messages %}
    <div class="level-item has-text-centered">
      <div class="tile is-parent is-7">
        <article class="tile is-child notification is-info-dark">
          <div class="content">
            <ul>
                  <li class="list-item has-text-weight-bold is-size-5">{{ message }}</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  {% endfor %}
  

{% endblock %}